#cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.back-card{
    position: relative;
    width: 94px;
    height: 94px;
    padding: 8px;

}

.img1, .img2{
    position: absolute;
}

/*.card{
    margin: 5px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}*/


