#cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 770px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.card{
    position: relative;
    width: 112px;
    height: 112px;
    padding: 8px;
    transform-style: preserve-3d;
}


.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
    transition: 0.9s;
}

.img1, .img2{
    position: absolute;
    backface-visibility: hidden;

}

.img1 {
    transform: rotateY(180deg);
}



