#cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.back-card{
    position: relative;

}

.img1, .img2{
  position: absolute;
  width: 100%;
  height: 100%;
}

/*.card{
    margin: 5px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}*/


